<!DOCTYPE html>
<html>
<style>
    .button{
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .red{background-color: #f44336;}
    .green{background-color: green;}
    #canvas-container{
        width: 100%;
        text-align: center;
    }
    canvas{
        display: inline;
    }
    h1{
        font-size: 50px;
        line-height: 1;
    }
    #hide{
        display: none;
    }
</style>
<!--Axios CDN-->
<script     src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Main Javascript code for making the canvas and mouse handling -->
<script type="text/javascript">
    var canvas, ctx, flag = false,
    prevX = 0,
    currX = 0,
    prevY = 0,
    currY = 0;

    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        ctx.fillStyle = "black";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        ctx.strokeStyle = "white";
        ctx.lineWidth = 25;
        ctx.lineCap = "round";
        w = canvas.width;
        h = canvas.height;
        
        canvas.addEventListener("mousemove", function(e)
        {
            mouseEventHandler("move", e)
        }, false);

        canvas.addEventListener("mousedown", function(e){
            mouseEventHandler("down", e);
        }, false);

        canvas.addEventListener("mouseup", function (e) {
            mouseEventHandler('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            mouseEventHandler('out', e)
        }, false);    
    }

    function draw(){
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.stroke();
        ctx.closePath();
    }

    function erase(){
        ctx.fillStyle = "black";
        ctx.fillRect(0, 0, w, h);
    }
// Upload the digit from the canvas
    function upload(){

        // Convert to jpeg image
        document.getElementById('output').innerHTML = "Please Wait While we process your request"
        var dataURL = canvas.toDataURL("image/jpeg", 0.8);
        const formData = new FormData();
        formData.append('photo', dataURL)

        fetch('/upload', {
            method: 'POST',
            enctype: "multipart/form-data",
            body: formData,
        }).then((data) => {
            return data.json()}).then(data => {console.log(data)
            document.getElementById('output').innerHTML = "The number is " + data.predicted + " with confidence " + data.confidence + "."
        }).catch(() => {console.log("Fail")})
    }
    function mouseEventHandler(res, e) 
    {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
    
            flag = true;
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }

</script>


<!-- HTML Layout of the app -->
<body onload="init()">
    <div id = "canvas-container">
        <h1>Digit Recognizer</h1>
        <div style="text-align: center; padding: 10px;">
            <input type="button" value="Clear" id="clr" size="30" onclick="erase()" class="red button">
            <input type="button" value="Upload" id="clr" size="30" onclick="upload()" class="green button">
        </div>
        <canvas id="can" width="256" height="256" > </canvas>
        <p id="output">Scribble a digit to check what it is.</p>
        <p>Did We guess it correct</p>
        <button></button>
    </div>
</body>
</html>